# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Build Files
NaNoRenO-1.0-dists/

# Official RenPy .gitignore
# macOS-related files
.DS_Store
.AppleDouble
.LSOverride

# Windows-related files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Python related files.
*.pyc
*.pyo
*.pyi

# Editor files.
*~
*.bak

# Compiled Ren'Py files.
*.rpyc
*.rpyb
*.rpymc

# Ren'Py log files.
log.txt
errors.txt
traceback.txt
lint.txt

# Created directories.
game/saves/
game/tmp/
game/cache/

# Executables.
/renpy.exe
/renpy2.exe
/renpy3.exe
/renpy-32.exe

/renpy.sh
/renpy2.sh
/renpy3.sh

/renpy2.app
/renpy3.app

# Libraries.
/lib

# Platforms.
/rapt
/rapt2
/rapt3

/renios
/renios2
/renios3

/web

# Docs.
/sphinx/source/inc
/sphinx/source/thequestion.rst
/doc
/doc-web
/LICENSE.txt

# Gui template.
game/gui

# Editors.
/jedit
/atom

# Generated source.
/renpy/vc_version.py
/module/gen/
/module/gen3/
/module/gen-static/
/module/gen3-static/
/tutorial/game/tutorial_director.rpy

# Module build.
/module/build
/module/dist
/module/emscripten-static

# Download target.
/dl

# Pygame_sdl2.
/pygame_sdl2

# Steam.
steam_appid.txt

# Type analysis.
/typings


# Live2D
cubism
CubismSdkForNative-4-*.zip

# Created files.
/launcher/theme
/screenshot*
.android.json

# Old files.
/0old

# Works in progress, throwaway scripts, etc.
/scratch
